* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    display: grid;
    place-items: center;
}

.mondrian-container {
    display: grid;
    grid-template-columns: 22% 3fr 2fr 3fr 2fr;
    grid-template-rows: 1.2fr 1fr 1fr;
    gap: 15px;
    width: 90vw;
    height: 80vh;
    background-color: #333;
    padding: 15px;
}

.red {
    background-color: #e84c3d;
}

.blue {
    background-color: #2bc0d3;
}

.gold {
    background-color: #dcb066;
}

.white {
    background-color: #ffffff;
}

.col-left-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-red {
    flex: 1;
}

.left-white {
    flex: 1;
}

.top-blue {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.top-gold {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.mid-beige {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mid-white {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.right-tall-red {
    grid-column: 5 / 6;
    grid-row: 2 / 4;
}

.bot-red-wide {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.bot-blue {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
