#skill {
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
}

.skill-header {
 display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: xx-large;
    position: relative;
}

.progress {
 background-color: #ddd;
    height: 9px;
    width: 100%;
    border-radius: 6px;
}

.progress-bar {
  height: 100%;
    background-color: #666;
    border-radius: 6px;
}
