.parent{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.child{
    background-color: red;
    width: calc(95% / 3);
    height: 100px;
}